
*{
    box-sizing:border-box;
    margin:0px;
    padding: 0px;
}
body{
    font-family: verdana;
}
nav h2{
    color:white;
}
.nav li{
    display:inline-block;
}
.nav li a{
    color:white;
    margin:10px;
    padding:10px;
}
.big-banner{
    background-image: url('../images/background.jpg');
    background-repeat: repeat-x;
}
.jumbotron{
    color: white;
}
.about p{
    position: relative;
    top: -300px;
    left: 520px;
}
.about ul{
    position: relative;
    top: -250px;
    left: 520px;
}
.about ul{
    list-style: none;
}
.one div{
    border: 1px solid dodgerblue;
    display: inline-block;
    margin: 5px;
}

.list div{
    border: 1px solid dodgerblue;
    display: inline-block;
    margin: 5px;
}
.project div{
    border: 1px solid transparent;
    margin: 5px;
    padding: 5px;
    display: inline-block;
   
}

/*responsive css*/
@media only screen and (max-width:767px){
    nav{
        position:fixed;
    }
    .nav li{
        display:block;
    }
}